body{
    background-color: deepskyblue;
}
h1{
    background-color: snow;
}
#button2{
    float: right;
}
canvas{
    border: 2px solid rgb(119, 255, 160);
    border-radius: 20px ;
    animation-name: canvas_moving_picture;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes canvas_moving_picture{
    0%{
        box-shadow: 1px 1px 38px red;
    }
    100%{
        box-shadow: 1px 1px 38px rgb(251, 255, 0);
    }
}